<main> 
    <h2>Home</h2>

{{#each books}}
<div class="books">
    <h3>Titulo: {{this.tilte}}</h3>
    <p>Quantidade de páginas: CLA {{this.pageqty}}</p>

    <div class="buttons">
        <a href="/books/{{this.id}}" class="mais"> Ver mais</a>
        <a href="/edit/{{this.id}}" class="editar"> Editar</a>
        <form action="/delete/{{this.id}}" method="POST">
        <input type="hidden" name="id" value="{{this.id}}">
        <button class="excluir">Excluir</button>
        </form>

        
    </div>
</div>
    {{/each}}
</main>